doctype html
html
  head
    title= title
  body
    h3 Escribe la url del torrent
    form(method="post")
      input(type="text" name="newTorrentLink" required)
      input(type="submit" value="Enviar")
